*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

* {
  /* brand foundation */
  --brand-hue: 200;
  --brand-saturation: 100%;
  --brand-lightness: 50%;

  /* light */
  --brand-light: hsl(
    var(--brand-hue) var(--brand-saturation) var(--brand-lightness)
  );
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);
  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: 0.02;

  /* dark */
  --brand-dark: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 2)
      calc(var(--brand-lightness) / 1.5)
  );
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5% 20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: 0.8;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --light-on: radial-gradient(circle, #fff, #bbb, #888, #444);
  --light-on-svg-fill: #ddd;
  --light-on-svg-stroke: #rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --light-on: radial-gradient(circle, #fff, #ffd700, #ffae42, #ff5722);
    --light-on-svg-fill: #ffd700;
    --light-on-svg-stroke: #rgba(255, 255, 255, 0.2);
  }
}

html[data-theme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --light-on: radial-gradient(circle, #fff, #bbb, #888, #444);
  --light-on-svg-fill: #ddd;
  --light-on-svg-stroke: #rgba(255, 255, 255, 0.1);
}

html[data-theme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --light-on: radial-gradient(circle, #fff, #ffd700, #ffae42, #ff5722);
  --light-on-svg-stroke: #rgba(255, 255, 255, 0.2);
}

@supports not (color-scheme: dark) {
  html[data-theme="dark"] {
    background: #111;
  }
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  background-color: var(--surface2);
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /*  background-image: url("/img/bg.svg"); */
  background-position: 50% 0%;
  background-size: auto;
  /* font-size: clamp(12px, 0.8rem + 0.25vw, 20px); */
  font-size: calc(
    ((16 / 16) * 1rem) + (18 - 16) *
      calc((calc(1140 * 1px) - 320 / 16 * 1rem) / (1140 - 320))
  );
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
a {
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  margin: 0 0 1.5rem;
}
ul {
  list-style: none;
}
ol {
  list-style-type: disc;

  li:not(:last-child) {
    margin-bottom: 0.95em;
  }
}
select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-prefix-chevron-down' id='icon-prefix-chevron-down' viewBox='0 0 24 24'%3E%3Cpolyline points='6 9 12 15 18 9' fill='none' stroke-linecap='round' stroke-width='4' stroke='black' %3E%3C/polyline%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
pre {
  white-space: break-spaces;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.wrapper {
  max-width: 85vw;
  width: min(90vw, 85rem);
  margin-inline: auto;
}
.wrapper_page {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.wrapper_content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
