.sprucemarkdown_logo {
  position: relative;
  margin-bottom: 3.5rem;

  &_lights {
    width: 200px;
    height: 200px;
    background-image: var(--light-on);
    border-radius: 50%;
    filter: blur(82px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    fill: var(--light-on-svg-fill);
    stroke: var(--light-on-svg-stroke);
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 25%));
  }
}
.sprucemarkdown_tabs_list {
  [data-reach-tab-list] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: hsla(0, 0%, 0%, 0.05);
  }
}
.sprucemarkdown__features {
  &_list {
    &_item {
      background-color: var(--surface4);
      display: flex;
      flex-direction: column;
      padding: 24px;
      border-radius: 12px;

      h2 {
        line-height: 8px 24px;
        font-size: 16px;
        font-weight: 600;
      }
      p {
        flex-grow: 1;
        padding-top: 8px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
        color: var(--text2);
      }
    }
  }
}
.sprucemarkdown_feature_image {
  height: auto;
  box-shadow: var(--surface-shadow) var(--shadow-strength);
}

.sprucemarkdown_btn {
  background-color: var(--surface4);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  min-width: 20px;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  vertical-align: middle;
  width: 180px;
}
.sprucemarkdown_select {
  width: 20px;
}
