.text_large {
  font-size: 3.5rem;
}
@media (max-width: 600px) {
  .text_large {
    font-size: 1.5rem;
  }
}
.text_small {
  font-size: 14px;
}
.text_center {
  text-align: center;
}

.text_color {
  color: var(--text1);
}

.text_color_offset {
  color: var(--text2);
}
.f_700 {
  font-weight: 700;
}
.h4 {
  font-size: calc(
    ((25.63 / 16) * 1rem) + (43.95 - 25.63) *
      calc((calc(1140 * 1px) - 320 / 16 * 1rem) / (1140 - 320))
  );
}
.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
  &.align_center {
    align-items: center;
  }
  &.justify_center {
    justify-content: center;
  }
  &.gap_12 {
    gap: 12px;
  }
  &.gap_24 {
    gap: 22px;
  }
  &.gap_36 {
    gap: 36px;
  }
}

.border_round {
  border-radius: 50%;
}

.mt_60 {
  margin-top: 60px;
}
.mt_6 {
  margin-block-start: 6px;
}
.mb_12 {
  margin-block-end: 12px !important;
}
.mb_36 {
  margin-block-end: 36px;
}
.mb_60 {
  margin-block-end: 60px !important;
}
.mb_24 {
  margin-block-end: 24px;
}
.shadow {
  border: 2px solid #eceeef;

  box-shadow: 14px 14px 30px -10px rgba(0, 0, 0, 0.1);
}
.hover_shadow {
  &:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
  }
}
.image {
  height: auto;
}
.list_none {
  list-style: none;
}
.color_offset {
  color: var(--text1);
}
.grid {
  @media all and (min-width: 64rem) {
    // 1024px
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: calc(
      ((((16) * 1.5) / 16) * 1rem) + (((18) * 3) - ((16) * 1.5)) *
        calc((calc(1140 * 1px) - 320 / 16 * 1rem) / (1140 - 320))
    );
  }
}
